*{
    margin: 0;
    padding: 0;
}
body{
  font-family: 'Gilroy', sans-serif;
}
.main-container{
    max-width: 1000px;
    margin: auto;
    background-color: #f8f6f6;
    border: 2px solid pink;
}
header{
    height: 6rem;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.img_logo{
    height: 3rem;
}
nav > ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 16px;
    gap: 22px;
}
nav > ul > li > a{
    text-decoration: none;
    padding: 0px 15px; 
    color: black;
}
.nav_btn{
    border: none;
    border-radius: 5px;
    background-color: #75BF7A;
    padding: 10px 20px;
    color: white;
}
.nav-icon{
    display: none;
}
.container-home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text-h4{
    margin-top: 8rem;
    font-weight: bolder;
    font-size: 2.5rem;
    width: 30rem;
}
.home-text-p{
    margin-top: 1rem;
    color: #9E9DA2;
    width: 20rem;
}
.home-btn-1{
    margin-top: 2rem;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 10px 34px;
}
.home-btn-2{
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    padding: 10px 34px; 
}
.home-img{
    margin-top: 3rem;
    height: 24rem;
    width: 22rem;
}
.rectangular-bar{
    margin: auto;
    margin-top: 4rem;
    background-color: #75BF7A;
    width: 52rem;
    height: 7rem;
    border-radius: 6px;
    display: flex;
}
.rectangular-bar-pera{
    color: #FFFFFF;
    padding-top: 2.5rem;
    padding-left: 2rem;
    padding-right: 4rem;
    width: 12rem;
    font-size: 20px;
}
.rectangular-bar-input{
    margin: auto;
    margin-top: 2.5rem;
    padding:1rem 8rem 1rem 1rem ;
    border: none;
    border-radius: 4px;
}
.rectangular-bar-btn{
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin: auto;
    margin-top: 2.5rem;
    padding:1rem 2rem ;
    border: none;
    border-radius: 4px;
}
.tere-benefits-h3{
    margin-top: 6rem;
    text-align: center;
    font-size: 30px;
}
span{
    color: #75BF7A;
}
.tere-benefits-box-1{
    margin-top: 8rem;
    width: 42rem;
    height: 12rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5rem;
}
.tere-benefits-container-1{
    display: flex;
}
.tere-benefits-img-1{
    height: 3rem;
    margin: 2rem;
}
.tere-benefits-h4-1{
    margin-top: 2rem;
    font-size: 20px;
    height: 4rem;
}
.tere-benefits-frame-1{
    margin-top: 1rem;
    margin-left: 18rem;
    height: 9rem;
}
.tere-benefits-p-1{
    margin-top: -4rem;
    margin-left: 2rem;
    width: 18rem;
}
.tere-benefits-box-2{
    margin-top: 4rem;
    width: 42rem;
    height: 12rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 7.9rem;
}
.tere-benefits-container-2{
    display: flex;
}
.tere-benefits-frame-2{
    margin-top: 2rem;
    margin-left: 3rem;
    height: 9rem;
}
.tere-benefits-img-2{
    height: 3rem;
    margin-top: 2rem;
    margin-left: 14rem;
}
.tere-benefits-h4-2{
    margin-top: 2rem;
    font-size: 22px;
    height: 4rem;
}
.tere-benefits-p-2{
    margin-top: -4rem;
    margin-left: 27rem;
    width: 14rem;
}
.tere-benefits-box-3{
    margin-top: 4rem;
    width: 42rem;
    height: 12rem;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-left: 5rem;
}
.tere-benefits-container-3{
    display: flex;
}
.tere-benefits-img-3{
    height: 3rem;
    margin: 2rem;   
}
.tere-benefits-h4-3{
    margin-top: 2rem;
    font-size: 20px;
    height: 4rem;
}
.tere-benefits-frame-3{
    margin-top: 1rem;
    margin-left: 14rem;
    height: 9rem;
}
.tere-benefits-p-3{
    margin-top: -4rem;
    margin-left: 2rem;
    width: 22rem;
}















@media (max-width:780px) {
    .nav-icon{
        display: block;
        padding: 0px 20px;
        padding-top: 16px;
    }
    nav > ul{
        display: none;
    }
}
@media (max-width:846px) {
    .container-home{
        flex-direction: column-reverse;
        text-align: center;
    }
    .home-text-h4{
        font-size: 2rem;
        width: 20rem;
    }
}
@media (max-width:849px){
    .rectangular-bar{
        flex-direction: column;
        width: 22rem;
        height: 16rem;
    }
    .rectangular-bar-input{
        margin-left: 2rem;
        padding: 1rem 6rem 1rem 1rem;
    }
    .rectangular-bar-btn{
        margin-left: 2rem;
        padding: 1rem 5rem;
        margin-top: 1rem;
    }
    .tere-benefits-box-1{
        width: 20rem;
        height: 20rem;
        margin:auto;
        margin-top: 2rem;
    }
    .tere-benefits-container-1{
        flex-direction: column;
    }
    .tere-benefits-img-1{
        width: 5rem;
    }
    .tere-benefits-h4-1{
        margin-top: -5rem;
        margin-left: 8rem;
    }
    .tere-benefits-p-1{
        margin: auto;
        text-align: center;
    }
    .tere-benefits-frame-1{
        margin: auto;
        width: 10rem;
    }
    .tere-benefits-box-2{
        width: 20rem;
        height: 20rem;
        margin:auto;
        margin-top: 2rem;
    }
    .tere-benefits-container-2{
        flex-direction: column-reverse;
    }
    .tere-benefits-img-2{
        width: 5rem;
        margin-top: -4rem;
        margin-left: 3rem;
    }
    .tere-benefits-h4-2{
        margin-top: 1rem;
        margin-left: 8rem;
    }
    .tere-benefits-p-2{
        margin: auto;
        text-align: center;
    }
    .tere-benefits-frame-2{
        margin: auto;
        width: 10rem;
        margin-top: 1rem;
    }
    .tere-benefits-box-3{
        width: 20rem;
        height: 20rem;
        margin:auto;
        margin-top: 2rem;
    }
    .tere-benefits-container-3{
        flex-direction: column;
    }
    .tere-benefits-img-3{
        width: 5rem;
    }
    .tere-benefits-h4-3{
        margin-top: -5rem;
        margin-left: 8rem;
    }
    .tere-benefits-p-3{
        margin: auto;
        text-align: center;
        width: 20rem;
    }
    .tere-benefits-frame-3{
        margin: auto;
        width: 10rem;
    }
}